name: Deploy Worker cek_kuota_vpn

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Wrangler v3 (SAMA seperti cobra)
        run: npm install -g wrangler@3

      - name: Deploy Worker
        run: wrangler deploy
